.top-buffer-large { margin-top:100px; }
.top-buffer-medium { margin-top:70px; }
.top-buffer-small { margin-top:30px; }
.top-buffer-xsmall { margin-top:10px; }
.team-photo { width: 270px; margin-top: 0;}
.well {
	background-color: #343434; 
	border: 1px solid #000; 
	min-height: 305px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
}
.well-callout{
	position: absolute;
	margin-top: 110px; 
	z-index: 100;
	height: 70px;

}
.callout-left {	margin-left: -68px;}
.callout-right{ margin-left: 649px;}

.rotate-180{
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform: rotate(180deg);
}

.white-font{color: #FFF;}

.no-margin{margin: 0;}
.full-width{width:100%;}
@media (max-width: 1235px) {
	.callout-right{ margin-left: 519px;}
	
}

    @media (max-width: 979px) {
    	.callout-left {	margin-left: 310px;
    		margin-top: -79px;
    		-moz-transform:rotate(90deg);
    		transform:rotate(90deg);
   			-webkit-transform:rotate(90deg);
    		-ms-transform:rotate(90deg);
    		-o-transform: rotate(90deg);}
    	.callout-right{ 
    		margin-left: 10px;
    		margin-top: -79px;
    		-moz-transform:rotate(90deg);
    		transform:rotate(90deg);
   			-webkit-transform:rotate(90deg);
    		-ms-transform:rotate(90deg);
    		-o-transform: rotate(90deg);}
    	}

    @media (max-width: 767px) {

    	.callout-left {	margin-left: 10px;
    		margin-top: -79px;
    		-moz-transform:rotate(90deg);
    		transform:rotate(90deg);
   			-webkit-transform:rotate(90deg);
    		-ms-transform:rotate(90deg);
    		-o-transform: rotate(90deg);}
    	.callout-right{ 
    		margin-left: 10px;
    		margin-top: -79px;
    		-moz-transform:rotate(90deg);
    		transform:rotate(90deg);
   			-webkit-transform:rotate(90deg);
    		-ms-transform:rotate(90deg);
    		-o-transform: rotate(90deg);}

    	}