#carouselBackGround{
background-image:url('../img/screen.png');
background-position: center top;
    background-size: 100% ;
	height: 893px;
	width:1170px;
	
}

#myCarousel{
	padding-top:44px;
	margin-right: 41px;
	margin-left: 41px;
}




    /* Carousel base class */
    .carousel {
      margin-bottom: 0px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 100px;
      margin-top: 60px;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 9;
    }

    .carousel .item {
      height: 615px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 615px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 500px;
      padding: 0 20px;
      margin-top: 400px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }


@media (max-width: 1235px) {
        #carouselBackGround{
background-image:url('../img/screen.png');
background-position: center top;
    background-size: 100% ;
	height: 719px;
	width:940px;
	
}

#myCarousel{
	padding-top:34px;
	margin-right: 31px;
	margin-left: 31px;
}

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;

      }
     

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 550px;

      }

        .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 500px;
      padding: 0 20px;
      margin-top: 290px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {
        
        #carouselBackGround{
background-image:url('../img/screen.png');
background-position: center top;
    background-size: 100% ;
	height: 552px;
	width:722px;
	
}

#myCarousel{
	padding-top:26px;
	margin-right: 26px;
	margin-left: 27px;
}

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;

      }
      


      .carousel .item {
        height: 380px;
      }
      .carousel img {
        width: auto;
        height: 380px;

      }

        .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 500px;
      padding: 0 20px;
      margin-top: 160px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

    }
    



    @media (max-width: 767px) {
        
                #carouselBackGround{
background-image:url('');
background-position: center top;
    background-size: 100% ;
	width:100%;
	
}

#myCarousel{
	padding-top:3%;
	margin-right: 3%;
	margin-left: 3%;
}

     .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 20px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 12px;
      }

    }